<section class="station">
  <ul>
    <li class="name"><%= station.name %></li>
    <li class="address"><%= station.address %></li>
    <li class="fuel_type"><%= station.fuel_type %></li>
    <li class="access_times"><%= station.access_times %></li>
    <li class="distance"><%= station.distance %></li>
    <li class="travel_time"><%= station.duration %></li>
    <li class="directions"><%= station.instructions %></li>
  </ul>
</section>
